<div class="sideNav">
    <div class="sideNavContent" >     
        <nav>
            <div class="" >
                <li class="nav-item active">
                    <a href="/<%=ejsUsername%>/0/userdata">Profile</a>
                </li>
                <li class="nav-item active" >
                    <a href="/<%=ejsUsername%>/0/posts">My posts</a>
                </li>
                <li class="nav-item active">
                    <a href="/<%=ejsUsername%>/0/addSponsor">Add Sponsor</a>
                </li>
                <li class="nav-item active" id="update">
                    <a href="#">Update Sponsor</a>
                </li>
                <li class="nav-item active" id="update">
                    <a href="#">Delete Sponsor</a>
                </li>
                
            </div>
        </nav>
    </div>
    <div class="sideNavicon" onclick="myFunction(this)">
        <div class="bar1"></div>
        <div class="bar2"></div>
        <div class="bar3"></div>
    </div>
</div>

<div class="searchicon"><img src="/images/icons/search.png"></div>
<div class="searchBox" >
    <form action="/<%=ejsUsername%>/0/search" method="GET">
        
            <div class="searchInside">
                <input name="searchText" type="text" placeholder="search" value=""></input>
            </div>
            <div style="text-align: center;">
                <button class="submit" name="search" type="submit">Search</button>
            </div>
    </form>  
</div>