<!DOCTYPE html>
<html lang="en">
<!-- Basic -->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="apple-touch-icon" sizes="76x76" href="/img/apple-icon.png">
    <link rel="icon" type="image/png" href="/img/favicon.png">
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Site Metas -->
    <title>Sponsro</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Site Icons -->
    <!-- <link rel="shortcut icon" href="../public/images/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="../public/images/apple-touch-icon.png"> -->

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Site CSS -->
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/nav.css">

    <!-- Icons -->
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>

    <!-- Login-->
    <link rel="icon" type="image/png" href="/images/icons/favicon.ico"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/vendor/animate/animate.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="/vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/vendor/select2/select2.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/css/util.css">
	<link rel="stylesheet" type="text/css" href="/css/login.css">
  <link rel="stylesheet" type="text/css" href="/css/home.css">
  <link rel="stylesheet" type="text/css" href="/css/profile.css">

<style>
  .alert-container{
    display:hidden;
  }
</style>


</head>
<body>
  


  <nav class="navbar navbar-expand-custom navbar-mainbg">
    <a class="navbar-brand navbar-logo" href="/" id="navBrand">
      <i class="fab fa-stripe-s"></i>
      <i class="fab fa-patreon"></i>
      <i class="fab fa-opera"></i>
      <i class="fas fa-signature"></i>
      <i class="fab fa-stripe-s"></i>
      <i class="fab fa-rockrms"></i>
      <i class="fab fa-opera"></i>
    </a>
    <button class="navbar-toggler" type="button" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <i class="fas fa-bars text-white"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
           
              <a class="nav-link" href="/"><i class="fas fa-home"></i> Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/about"><i class="fas fa-address-card"></i>About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/guide">Guide</a>
          </li>
            <li class="nav-item">
              <a class="nav-link" href="/login"><i class="fas fa-file-image"></i>Log In</a>
          </li>
            <li class="nav-item">
              <a class="nav-link" href="/logout">Logout</a>
          </li>
        </ul>
    </div>
  </nav>
  <!--flash messages-->

  <div class="alert-container">
    <%if(error&&error.length>0) { %>
    <div class="alert alert-danger" style="height:50px; line-height: 32px; overflow: hidden;" role="alert">
      <%= error%>
    </div>
    <% } %>
    <%if(success&&success.length>0) { %>
    <div class="alert alert-success" style="height:50px; line-height: 32px; overflow: hidden;" role="alert">
      <%= success%>
    </div>
    <% } %>
  </div>
<!--     end                -->