@import url('https://fonts.googleapis.com/css?family=Roboto');

@import url(https://fonts.googleapis.com/css?family=Ubuntu:300);

/*-------------text animation--------*/


/*-------------------------------------*/

.nav-link {
	font-family: 'Ubuntu';
	text-transform:uppercase ;
  }

* {
	margin: 0;
	padding: 0;
}

#navBrand{
	color:rgb(145, 141, 141);
}
/*----------bootstrap-navbar-css------------*/
.navbar-logo{
	padding: 15px;
	color: #fff;
}
.navbar-mainbg{
	height:auto;
	background-image:url(/images/13.jpg);
	background-color: #000000e0;
	background-blend-mode: darken;
	padding: 0px;
	
}
#navbarSupportedContent{
	overflow: hidden;
	position: relative;
}
#navbarSupportedContent ul{
	padding: 0px;
	margin: 0px;
}
#navbarSupportedContent ul li a i{
	margin-right: 10px;
	
}
#navbarSupportedContent li {
	list-style-type: none;
	float: left;
	margin-left: 10px;
}
#navbarSupportedContent ul li a{
	color: rgb(194, 194, 194);
    font-size: 15px;
    display: block;
    padding: 15px 10px;
    transition-duration:0.6s;
	transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
	border-radius:25px ;
    position: relative;
	font-family: "pixel Emulator";
	display:block;
}
#navbarSupportedContent ul li a:hover{
	background-color: rgba(255, 255, 255, 0.849);
	border-radius:100px ;
	color:rgb(0, 0, 0);
	animation: fade 0.5s ease-in;
}
@keyframes fade {
	0%{	background-color: rgba(255, 255, 255, 0);

	}
	100%{
		background-color: rgb(255, 255, 255);
	}
}
#navbarSupportedContent a:not(:only-child):after {
	content: "\f105";
	position: absolute;
	right: 20px;
	top: 10px;
	font-size: 14px;
	font-family: "Font Awesome 5 Free";
	display: inline-block;
	padding-right: 3px;
	vertical-align: middle;
	font-weight: 900;
	transition: 0.5s;
}
#navbarSupportedContent .active>a:not(:only-child):after {
	transform: rotate(90deg);
}



@media(min-width: 992px){
	.navbar-expand-custom {
	    -ms-flex-flow: row nowrap;
	    flex-flow: row nowrap;
	    -ms-flex-pack: start;
	    justify-content: flex-start;
	}
	.navbar-expand-custom .navbar-nav {
	    -ms-flex-direction: row;
	    flex-direction: row;
	}
	.navbar-expand-custom .navbar-toggler {
	    display: none;
	}
	.navbar-expand-custom .navbar-collapse {
	    display: -ms-flexbox!important;
	    display: flex!important;
	    -ms-flex-preferred-size: auto;
	    flex-basis: auto;
	}
}


@media (max-width: 991px){
	#navbarSupportedContent ul li a{
		padding: 12px 30px;
	}
	.hori-selector{
		margin-top: 0px;
		margin-left: 10px;
		border-radius: 0;
		border-top-left-radius: 25px;
		border-bottom-left-radius: 25px;
	}
	.hori-selector .left,
	.hori-selector .right{
		right: 10px;
	}
	.hori-selector .left{
		top: -25px;
		left: auto;
	}
	.hori-selector .right{
		bottom: -25px;
	}
	.hori-selector .left:before{
		left: -25px;
		top: -25px;
	}
	.hori-selector .right:before{
		bottom: -25px;
		left: -25px;
	}
}

#navBrand:hover{
  color: #fff;
}