<%- include("./partials/header.ejs") %>
<div class="introheading">About</div>
<div class="sponsForm">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto consequatur molestiae, iure porro reprehenderit atque quos perspiciatis repudiandae neque quae doloremque, fugiat fugit qui. Eum impedit hic quam in alias!
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Non voluptatibus illum natus repellendus exercitationem at aperiam officia, quo nostrum sint quas asperiores eum odio nihil consequuntur consectetur blanditiis fuga placeat.
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Molestias suscipit id illo voluptatibus maiores vel nobis perspiciatis recusandae aut dignissimos, voluptate est architecto error dolorum nostrum! Labore blanditiis modi quia.
</div>

<%- include("./partials/footer.ejs") %>