<%- include("./partials/header.ejs") %>
<div class="introheading">About</div>
<div class="sponsForm">
    <p>As more and more people are using the internet, more and more celebrities have become internet personalities despite surge, the ads industries largely treat it the same way as television.</p>
<p>This in our opinion is a missed opportunity as most influencers have specific content targeted at their audience, companies can monetize this alignment of interest by finding such an audience and the sponsor that creator.</p>
<p>Our web application seeks to connect the advertisers to relevant creators using our WEB platform.</p>
<h2>Objectives</h2>

    <li>Help media influencers and companies to connect to each other for sponsorships and advertisements.
        </li>
        <li> Help hiring agency to manage and sponsor projects.</li>
       <li>Filter the target audience by suggesting appropriate candidates.
        Support CRUD operations for all sponsor listings.</li>
        <li>
        Manage assessments for sponsorships.
        </li>
</div>

<%- include("./partials/footer.ejs") %>