<%- include("./partials/header.ejs") %>
<div class="introheading">Guide</div>
<div class="sponsForm">
<h2>First, why are sponsorships awesome?</h2>

<p>Partnering with brands actually brings a TON of opportunities&#8211;not just money-in-exchange-for-blog-post.</p>

<ol>
    <li>Gives you authority and social proof</li>
    <li>$$$$$</li>
    <li>Potentially free products (my own experience!)</li>
    <li>Potentially special deals for your audience</li>
    <li>The X-Factor</li>
</ol>



<p><mark>The &#8220;partnerships X-factor&#8221; = When you build relationships with companiess/brands/influencers in your niche, you&#8217;re opening the door to great future opportunities you can&#8217;t even identify yet.</mark></p>



<ul><li>Maybe a company comes back and wants to work with you again.</li><li>Maybe they offer you a job (I know a blogger this happened to)</li><li>Maybe the relationship opens up an even bigger relationship</li></ul>



<p>Ya never know, but as my dude <a href="https://doyouevenblog.com/podcast/nick-framework/" data-lasso-id="368337">Nick True</a> would probably say&#8230;</p>



<blockquote class="wp-block-quote"><p>Relationships are the most under-utilized marketing for bloggers.</p></blockquote>


<div class="boxed">
<h3>What is a sponsored post on a blog?</h3>
<p>A &#8220;sponsored post&#8221; is simple when a company pays a blogger to publish a very specific piece of content, which usually promotes or reviews the company&#8217;s product.</p>
</div>


<h3>Before we go any further, there are 2 important &#8220;rules&#8221;</h3>



<p>Repeat after me:</p>



<p>&#8220;I shall not accept inbound sponsorship requests for products MY AUDIENCE DOESN&#8217;T CARE ABOUT or get value out of.&#8221;</p>



<p>&#8220;I shall ONLY work with and promote brands and products that I fully believe in.&#8221;</p>



<p>You screw either one of those up, and you&#8217;ll be selling your readers&#8217; trust.</p>



<p>Stick to companies you love, products you&#8217;ve used, etc&#8211;and promote them&nbsp;<em>heavily.</em></p>



<p>Movin on.</p>


<div class="boxed">
<p>Btw, I have a CONCISE YouTube video on getting sponsorships (the first few are more podcasting related, but 90% of the video also totally applies to blogging.</p>
<p></noscript></p>
</div>


<p>And while we&#8217;re watching videos, don&#8217;t miss this one on making money from your blog in general:</p>

<h2>6 Key Blog sponsorship tips:</h2>



<h3>1 &#8211; Your blog isn&#8217;t &#8220;small,&#8221; it&#8217;s &#8220;growing&#8230;&#8221;</h3>



<p>No traffic? No problem (sorta).</p>



<p>Whenever you are pitching anybody for anything&#8211;it&#8217;s important to highlight your prettiest features, not your stinky feet.</p>



<p>So if you don&#8217;t have 10k Pinterest followers or a 40k email list or 500k views/mo&#8211;perhaps you have some growth to report!</p>
<p>This looks good.</p>
<h3>2 &#8211; Have a (well-designed) media kit!</h3>



<p>Simply put, a media kit is a 1-2 page PDF that gives a broad overview of</p>



<ul><li>your blog brand</li><li>your audience</li><li>your size</li></ul>

<div class="boxed">
<p><strong>FAQ: Where should you literally put your media kit?</strong></p>
<p>On your blog about page? Somewhere else?</p>
<p>Rachel&#8217;s vote is to treat your media kit like a resume&#8211;and tailor it slightly for each pitch!</p>
<p>This requires that you NOT keep it public on your about page.</p>
</div>



<p>What else should go on a media kit?</p>



<ul><li>your photo&#8211;my vote is to make these personal and show that YOU are an influencer. <mark>People don&#8217;t buy stuff from your blog, they buy it from you.</mark></li><li>traffic stats</li><li>email list stats (open rates and CTR too!)</li><li>audience demographics</li><li>social proof&#8211;in the form of other companies you&#8217;ve worked with! BONUS points if you can show results from those campaigns.</li><li>anything else relevant that&#8217;ll show the company you can provide them value.</li></ul>



<p>Brand awareness, traffic via social shares, paid referrals, anything.</p>



<h3>3 &#8211; How you view $1 and how large companies view $1 is totally different</h3>



<p>Let&#8217;s say you&#8217;re pitching The Home Depot for a blog sponsorship.</p>



<p>I dunno about you, but $3,000 sounds like a lot to me.</p>



<p>However, The Home Depot spends over a million dollars A DAY on marketing. $3,000 is nothing.</p>



<p><mark>It&#8217;s important to realize that even small and medium-sized businesses simply look at money&nbsp;in a different way than us broke bloggers!</mark></p>


<div class="boxed">
<h3>How much do blog sponsors pay?</h3>
<p>The average sponsored blog post can vary between $100 and $5,000.</p>
<p>The amount of money you get from a sponsored blog post largely depends on the size of your audience (and website traffic), as well as what else you&#8217;re including in your sponsorship package.</p>
<p>For example, if you also includes mentions in your email newsletter or social media shares (in addition to a sponsored article), you might be able to charge more money.</p>
</div>


<h3>4 &#8211; Make a dream partnership hitlist</h3>



<p>If you&#8217;re seriously looking to start working with companies in connection to your blog&#8211;lemme just warn you: <strong>this process is work, and will need to be treated as such.</strong></p>



<p>This is NOT slapping some Amazon affiliate links in your Tuesday blog post.</p>



<p>Working with your favorite brands requires a <em>structured</em> approach to outreach, pitching, negotiation, and collaboration.</p>



<p>And that starts with making a hitlist.</p>
<ol><li>Click over to your fave spreadsheet provider</li><li>Brainstorm all the products you use on a weekly basis</li><li>Jot down additional companies you&#8217;d love to be a part of</li></ol>



<p><em>Bonus Hustler Step: Make additional columns to rank the companies based on their willingness to work with you, their top social channels you could use to get an &#8220;in&#8221; as far as outreach, a &#8220;date I pitched them&#8221; column, and a &#8220;date I&#8217;ll follow up with them&#8221; column.</em></p>



<p>Once you have a structured list&#8211;it&#8217;s time to start the real work.</p>



<h3>5 &#8211; You&#8217;ll have to pitch. A lot 🙂</h3>



<p>Repeat after me:</p>



<blockquote class="wp-block-quote"><p>&#8220;I, [your-name], will not attach my self-worth as a blogger to any FAILED outreach.&#8221;</p></blockquote>



<p>Good, padawan!</p>



<p>Rachel has made pitching brands a CORE part of her business model, and she pitches 5 a week.</p>



<p>You&#8217;re going to get rejected. Probably a lot. Count on it.</p>



<h3>6 &#8211; Employ empathy!</h3>



<p>What&#8217;s in it for the brand?</p>



<p>What do they get out of this deal? Is it seriously going to bring them anything?&nbsp;<em>If not&#8211;find a way to add value.</em></p>



<p><mark>This applies to ALL marketing, but especially outreach and pitching! Always put yourself in the other person&#8217;s shoes and try to figure out what will make saying &#8220;yes&#8221; a no-brainer.</mark></p>
</div>

<%- include("./partials/footer.ejs") %>