<%- include("./partials/header.ejs") %>
<div>
    <div class="background-image" style=""></div>
    <div class="cen">
        <section class="hero">
            <div class="slide">
                <a href="/register" id="btn1">Get Started</a>
            </div>
        </section>
    </div>
</div>
<div class="alert-container">
	<div class="alert alert-danger" role="alert">
		<%= error%>
	</div>
	<div class="alert alert-success" role="alert">
		<%= success%>
	</div>
	</div>
    
<%- include("./partials/footer.ejs") %>


