<%- include("./partials/header.ejs") %>
<%- include("./partials/adminheader.ejs") %>


<div class="introheading">Welcome  <%=ejsUsername%></div>
<div class="content">
    This is <strong>SPONSRO</strong>, future of everyone.
    <h1>How to get sponsored blog posts</h1>
    <ol>
        <li>Set up a Sponsor page and media kit on your site</li>
        <li> Create top-quality content that attracts sponsors</li>
        <li>Find brands you want to work with and pitch</li>
        <li>Look at your competition and see who’s sponsoring them</li>
        <li>Pitch sponsorships to the brands you see in Google AdSense</li>
        <li>Maintain relationships with sponsors to receive more placements over time</li>
    </ol>

</div>

 <%- include("./partials/footer.ejs") %>