<%- include("./partials/header.ejs") %>
<%- include("./partials/extraheader.ejs") %>


<div class="introheading">Welcome  <%=ejsUsername%></div>
<div class="content">
    <p>This os sponsro. The future for Influencers.</p>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quisquam a corporis accusantium, nostrum veritatis aperiam voluptatibus? Ex ipsum, temporibus voluptas eligendi eveniet, fugit distinctio expedita aliquid itaque labore fuga cupiditate?
    </p>
    <p> ipsum dolor sit amet consectetur adipisicing elit. Quod quis ut illo, veniam quibusdam doloremque nulla rerum sunt voluptatem impedit beatae doloribus neque tempore libero nemo ea dolorum porro qui.</p>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tempora, delectus in? Id natus ipsa accusantium tenetur dolorem saepe, aliquid molestiae quisquam doloremque delectus quod et amet voluptatum, expedita corrupti adipisci!</p>

</div>

 <%- include("./partials/footer.ejs") %>