@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
body{
  background-image: url(../images/Sponsorship.jpg);
  background-size: cover;
  background-color: rgba(151, 226, 245, 0.5);
  background-blend-mode: lighten;
}
.alert-container{
  position:fixed;
  top: 15px;
  right: 40%;
  animation: 5s motion ease-in-out;
  opacity:0;
  overflow:hidden;
}
@keyframes motion {
  0%{
    opacity: 0;
    width:0px;
  }
  50%{
    opacity: 1;
  }
  80%{
    opacity: 1;
  }
  100%{
    opacity:0;
    width:30%;
  }
}
h1{
    color: #000000;
}
#text1{
    color: lemonchiffon;
    font-family: 'Indie Flower', cursive;
}
.cen{
    margin: auto;
    width: 50%;
}
#btn1{
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    background-color: #000000;
    opacity: 1;
    color:rgb(168, 164, 164);
  }
  #btn1:hover{
    color:white ;
  }
section{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
.hero{
    justify-content: center;
    text-align: center;
    min-height: 100vh;
    color: #fff;
  }
.hero h1{
    font-family: 'Open Sans', sans-serif;
    font-size: 60px;
    font-weight: bold;
    margin-bottom: 40px;
  }
.hero h3{
    font: normal 28px "Open Sans", sans-serif;
    margin-bottom: 40px;
}
.hero #btn1{
    padding: 20px 46px;
    font-size: 1.5em;
}
.slide {
    opacity: 0;
    margin-top:100px;
    animation: 1s slidefade 0.3s forwards;
  }
  @keyframes slidefade {
    100% {
      opacity: 1;
      margin: 0;
    }
  }

  @media (max-width: 800px) {
    .hero{
      min-height: 660px;
    }
    .background-image{
        min-height: 660px;
      }
    .hero h1{
      font-size: 48px;
    }
    .hero h3{
      font-size: 24px;
    }
    .hero #btn1{
      padding: 15px 40px;
    }
  }